.title {
    background-color: #6D85CA;
    color: aliceblue;
}

.inf-content{
    border:1px solid #DDDDDD;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}			                                                      

.add-user {
    margin: 30px 35%;
    width: 400px;
}

.btn-add {
    margin-top: 20px;
    width: 400px;
}


.modal-backdrop {  
    display: none;    
}

.modal{
  background-color: rgba(10,10,10,0.45);
}